# Assignment.10 - Program 02

## Packages

In [12]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## Tasks

In [13]:
# 1 The data file for this project is available from the Seaborn website. To load this data into a DataFrame,run this code:
data = sns.load_dataset('diamonds')

In [14]:
# 2 Display the first five rows of data.
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [15]:
# 3 Display the correlation data for the price column.
corr = data.corr()
sortcorr = corr['price'].sort_values(ascending=False).to_frame()
sortcorr

/tmp/ipykernel_39817/3310431239.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = data.corr()

          price
price  1.000000
carat  0.921591
x      0.884435
y      0.865421
z      0.861249
table  0.127134
depth -0.010647

In [16]:
# 4 Create test and training datasets using the carat, table, and depth columns as the independent variables and the price as the dependent variable. 
# (The x, y, and z columns contain information that’s related to the table and depth columns, so it’s not necessary to use those columns.) 
# The test dataset should consist of 30% of the total dataset, and you should specify a value for the random_state parameter.
X_train, X_test, Y_train, Y_test = train_test_split(data[{'carat', 'table', 'depth'}], data['price'], test_size=0.3, random_state=32)

/tmp/ipykernel_39817/1693186107.py:4: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  X_train, X_test, Y_train, Y_test = train_test_split(data[{'carat', 'table', 'depth'}], data['price'], test_size=0.3, random_state=32)

In [17]:
# 5 Create and fit the model
linreg = LinearRegression().fit(X_train, Y_train)

In [18]:
# 6 Score the model with the test dataset.
linreg.score(X_test, Y_test)

0.8563722430083057

In [19]:
# 7 Score the model with the training dataset.
linreg.score(X_train, Y_train)

0.8525089195205906

In [20]:
# 8 Use the model to make predictions about the test data, and store the results in a DataFrame.
predicted_Y = linreg.predict(X_test)
predicted_data = pd.DataFrame({'Predicted': predicted_Y})

In [21]:
# 9 Create a DataFrame that contains the columns used to make predictions, along with the actual price and the predicted price. 
# Then, display the first five rows of data to see how close the predicted prices are.
prediction = pd.concat([X_test, Y_test, predicted_data], axis=1)
prediction.head()

       depth  carat  table    price  Predicted
30073   62.2   0.32   57.0    720.0        NaN
24423   62.0   1.89   56.0  12674.0        NaN
32066   62.7   0.33   55.0    780.0        NaN
19077   61.6   1.22   60.0   7850.0        NaN
44176   61.6   0.57   56.0   1567.0        NaN

In [25]:
# 10 Calculate the residuals for the regression, and store the results in a new column in the DataFrame you created in step 9. 
# Then, display the first five rows of data to see the residual values. Plot the residuals using a Seaborn KDE plot.
residual = Y_train - prediction
residual